@using MvcLibraryApp.Models.Entities;
@model List<Student>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<link href="path/to/bootstrap-icons.css" rel="stylesheet">

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-4" style="color: #e74c3c; font-size: 2rem;">Student List</h3>
            <a href="/Students/Add" class="btn btn-primary mb-3" style="background-color: #3498db; border-color: #2980b9;">Add Student</a>
            <table class="table table-striped" style="margin-top:10px;">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Language</th>
                        <th scope="col">Number</th>
                        <th scope="col">Delete Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <th scope="row">@student.Id</th>
                            <td>@student.Name</td>
                            <td>@student.LastName</td>
                            <td>@student.Language</td>
                            <td>@student.Number</td>
                            <td>
                                <a href="/Students/Delete/@student.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                <a href="/Students/Update/@student.Id" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</table>