@using MvcLibraryApp.ViewModels.Students;
@model UpdateStudentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center mb-4" style="color: #e74c3c; font-size: 2rem;">Update Student</h3>
            <form asp-controller="Students" asp-action="Update" method="post">
                <div class="mb-3">
                    <label for="Id" class="form-label" style="color: #f1c40f;">Id</label>
                    <input type="number" class="form-control" id="Id" name="Id" readonly asp-for="Id" value="@Model.Id" style="background-color: #f5f5f5; color: #000000;">
                </div>
                <div class="mb-3">
                    <label for="Name" class="form-label" style="color: #3498db;">Name</label>
                    <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" value="@Model.Name" style="background-color: #f5f5f5; color: #000000;">
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label" style="color: #e67e22;">Last Name</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" asp-for="LastName" value="@Model.LastName" style="background-color: #f5f5f5; color: #000000;">
                </div>
                <div class="mb-3">
                    <label for="Language" class="form-label" style="color: #e67e22;">Language</label>
                    <input type="text" class="form-control" id="Language" name="Language" asp-for="Language" value="@Model.Language" style="background-color: #f5f5f5; color: #000000;">
                </div>
                <div class="mb-3">
                    <label for="Number" class="form-label" style="color: #9b59b6;">Number</label>
                    <input type="number" class="form-control" id="Number" name="Number" asp-for="Number" value="@Model.Number" style="background-color: #f5f5f5; color: #000000;">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: #e74c3c; color: #ffffff; border-color: #c0392b;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

